$bgImage: url('../img/m-h-night.jpg');
$bgColorbody:#2c2f3c;
$headingColor:#ffffff;
$cardColor:#21232e;
$textColor:#c0c3c9;
$textUnderline:#ff4e33;
$whiteColor: #ffffff;
$greenColor:#e3ac00;
$fontFamily:'Fresca', sans-serif;