$bgImage: url('../img/m-h-day.jpg');
$bgColorbody:#ffffff;
$headingColor:#2c2f3c;
$cardColor:#21232e;
$textColor:#c0c3c9;
$textUnderline:#14a0c7;
$whiteColor: #ffffff;
$greenColor:#699900;
$fontFamily:'Source Sans Pro', sans-serif;